<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PS2PDF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PS2PDF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PS2PDF.Properties.Settings>
            <setting name="InputFileFilter" serializeAs="String">
                <value>*.ps</value>
            </setting>
            <setting name="NumWorkerThreads" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="WorkingFolderPath" serializeAs="String">
                <value>.\work</value>
            </setting>
        </PS2PDF.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PS2PDF.Properties.Settings>
            <setting name="WriteJobLogFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepSourceFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InputFolderPath" serializeAs="String">
                <value>C:\temp\ps2pdf\input</value>
            </setting>
            <setting name="OutputFolderPath" serializeAs="String">
                <value>C:\temp\ps2pdf\output</value>
            </setting>
        </PS2PDF.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
